@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  background-color: #3397DB;
    padding: 10px 40px 16px;
    list-style: none;
    font-size: 17px;
    margin: 0;
    height: 20px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #f18200;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50px;
  background-color: #3397DB;
  position: sticky;
  top: -1px;
  z-index: 2;
}
.filter-options h2 {
  color: white;
  font-weight: 200;
  margin: 5px 20px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 420px;
  padding: 20px 30px 20px;
  text-align: left;
  width: 300px;
}
#restaurants-list li:hover {
  box-shadow: 0 0 5px 5px #e8e8e8;
}

@media screen and (max-width: 810px) {
  #restaurants-list li {
    width: 600px;
  }
}

@media screen and (max-width: 460px) {
  #restaurants-list {
    padding: 30px 0 60px;
  }
  #restaurants-list li {
    margin: 15px 0;
  }
}

#restaurants-list li div {
  overflow: hidden;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  transform: scale(1);
  transition: .3s ease-in-out;
}
#restaurants-list .restaurant-img:hover {
  transform: scale(1.3);
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  align-self: center;
  background-color: #ffa500;
  color: #fff;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px #cecdcd;
  transition: .2s ease-in-out;
}
#restaurants-list li a:hover {
  transform: scale(1.1);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
.inside #map-container {
  height: 300px;
  margin: 40px 0;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  background-color: #333;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#restaurant-img {
  width: 100%;
  height: auto;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  font-weight: 600;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 40px 40px 30px;
  display: flex;
  flex-direction: column;
}
#reviews-container {
  padding: 30px 40px 80px;
}
@media screen and (max-width: 460px) {
  #restaurant-container, #reviews-container {
    padding: 10px 0 30px;
  }
  #restaurant-address, #restaurant-hours {
    padding: 0 20px;
    font-size: 20px;
  }
  #restaurant-hours td {
    font-size: 20px;
  }
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  text-align: center;
}
#reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#reviews-list li {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  list-style-type: none;
  margin: 10px 20px;
  overflow: hidden;
  padding: 0 0 20px;
  width: 500px;
  align-content: flex-start;
}

@media screen and (max-width: 810px) {
  #reviews-list li {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 460px) {
  #reviews-list li p {
    font-size: 16px;
  }
}

#reviews-list li p {
  padding: 0 10px;
}
#reviews-list li div {
  display: flex;
  width: 100%;
  background-color: #333;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  height: 25px;
}
#reviews-list li div p {
  color: #fff;
  margin: 0;
}
#reviews-list li div .name {
  margin-right: auto;
}
#reviews-list li .rating {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background-color: #f18200;
  height: 25px;
}
#restaurant-hours td {
  color: #666;
}
